$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"; // bower:scss
 @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
 // endbower

body {
  overflow: auto;
}

.contact {
  position: fixed;
  bottom: 100px;
  right: 100px;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background-color: #4D98D8;
  color: white;
  text-align: center;
  padding-top: calc((70px - 3em)/2);
  padding-bottom: calc((70px - 3em)/2);
}

.contact:hover {
  box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.2);
}

.header {
  border-bottom: 1px solid #e5e5e5;

  .navbar {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: white;
    margin-bottom: 0;
    border-radius: 0;
    display: inline-block;
    z-index: 200;

    &-logo {
      display: inherit;
      height: 70px;
      float: left;
      width: auto;
      margin-left: 10px;
      background-color: red;

      .title-img {
        height: inherit;
      }
    }

    &-notifications {
      display: inherit;
      float: right;
      height: 70px;
      text-align: center;
      padding-top: calc((70px - 2em)/2);
      padding-bottom: calc((70px - 2em)/2);
      margin-right: 15px;
      position: relative;

      &-badge {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        z-index: 100;
        text-align: center;
        background-color: red;
        position: absolute;
        bottom: calc((70px - 2.5em)/2);
        right: 0;
        color: white;
      }
    }

    &-account {
      display: inherit;
      height: inherit;
      float: right;
      width: 75px;

      .avatar {
        border-radius: 50%;
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 60px;
      }

      .menu {
        position: absolute;
        right: 10px;
        top: 80px;
        height: auto;
        width: 250px;
        box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.1);
        border-radius: 10px;
        z-index: 400;
        background-color: white;

        &-profile {
          height: 90px;
          width: inherit;
          display: flex;
          border-bottom: thin solid gray;

          .avatar {
            margin-left: 10px;
            margin-right: 10px;
            flex: 1;
          }

          .info {
            flex: 3;
            font-size: 22px;
            line-height: 90px;
          }
        }

        &-item {
          width: inherit;
          height: 50px;
          display: flex;

          .icon {
            flex: 1;

            &-inner {
              margin: auto;
              height: 40px;
              width: 40px;
              margin-top: 5px;
              margin-bottom: 5px;
              background-color: blue;
              border-radius: 20px;
              line-height: 50px;
            }
          }

          .account {
            flex: 3;

            .company {
              height: 50%;
              position: relative;

              &-inner {
                position: absolute;
                bottom: 0;
                font-weight: 600;
              }
            }
          }

          .name {
            height: 50%;
            position: relative;

            &-inner {
              font-size: 12px;
            }
          }
        }
      }

      .dropdown {
        margin-left: 5px;
        color: black;
      }
    }
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.sidebar {
  position: relative;
  height: calc(100vh - 70px);
  float: left;
  width: 300px;
  background-color: #4D98D8;
  color: white;

  &-company {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;

    .name {}

    .est {}
  }

  &-links {
    padding-left: 30px;
    padding-right: 30px;

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 16px;
        margin-bottom: 20px;

        .link-icon {
          margin-right: 5px;
          width: 30px;
        }
      }
    }
  }

  &-buttons {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;

    .contact {
      width: 200px;
      height: 40px;
      margin: auto;
      text-align: center;
      background-color: #4D98D8;
      border-radius: 50px;
      border-color: white;
      border-width: thin;
      border-style: solid;
    }
  }
}

.lifeaz-admin {
  background-color: #ECF0F1;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
