$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {margin: 0; height: 100%; overflow: hidden}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  .navbar {
      height: 70px;
      width: 100%;
      color: white;
      margin-bottom: 0px;
      display: inline-block;

      &-logo {
          display: inherit;
          height: inherit;
          float: left;
          width: auto;
          margin-left: 10px;
          background-color: red;

          .title-img {
              height: inherit;
          }
      }

       &-search {
          display: inherit;
          height: inherit;
          float:left;
          width: auto;
          background-color: blue;
       }

       &-account {
          display: inherit;
          height: inherit;
          float: right;
          width: 100px;

          .avatar {
              border-radius: 50%;
              display: inline-block;
              height: 60px;
              padding-top: 5px;
              padding-bottom: 5px;
          }

          .dropdown {
              margin-left: 5px;
              color: black;
          }
       }
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.sidebar {
    position: relative;
    height: calc(100vh - 70px);
    float: left;
    width: 300px;
    background-color: #4D98D8;
    color: white;

    &-company {
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;

        .name {
        }
        .est {
        }
    }

    &-links {
        padding-left: 30px;
        padding-right: 30px;

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 16px;
                margin-bottom: 20px;

                .link-icon {
                    margin-right: 5px;
                    width: 30px
                }
            }
        }
    }

    &-buttons {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 20px;

        .contact {
            width: 200px;
            height: 40px;
            margin: auto;
            text-align: center;
            background-color: #4D98D8;
            border-radius: 50px;
            border-color: white;
            border-width: thin;
            border-style: solid;
        }
    }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
