<!-- <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas> -->
<!-- <div class="sidebar" ng-controller="SidebarCtrl as sidebar">
  <div class="sidebar-company">
    <h3 class="name">Cool Society Inc</h3>
    <h4 class="est">(2017)</h4>
  </div>
  <div class="sidebar-links">
    <ul>
      <li>
        <i class="link-icon fa fa-home fa-lg" aria-hidden="true"></i>
        DASHBOARD
      </li>
      <li>
        <i class="link-icon fa fa-users fa-lg" aria-hidden="true"></i>
        TEAM DIRECTORY
      </li>
      <li>
        <i class="link-icon fa fa-pie-chart fa-lg" aria-hidden="true"></i>
        STATISTICS
      </li>
      <li>
        <i class="link-icon fa fa-building fa-lg" aria-hidden="true"></i>
        COMPANY DETAILS
      </li>
    </ul>
  </div>
  <div class="sidebar-buttons">
    <button class="contact">CONTACT</button>
  </div>
</div> -->

<div class="dashboard">
  <div class="dashboard-header">
    <div class="welcome-message">
      Welcome back
      {{ username }}.
    </div>
    <div class="search">
      <input placeholder="What can we help you find ?"/>
    </div>
    <div class="section-heading">
      {{ companyName }}'s (
      {{ creationDate }}
      ) Dashboard
    </div>
  </div>
  <div class="options">
    <div class="option-row">
      <div class="menu-item">
        <div class="menu-item-icon">
          <img class="flat-icon" src="images/statistics.svg"/>
        </div>
        <div class="menu-item-text">
          Statistics
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon">
          <img class="flat-icon" src="images/game.svg"/>
        </div>
        <div class="menu-item-text">
          Game Settings
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon">
          <img class="flat-icon" src="images/team.svg"/>
        </div>
        <div class="menu-item-text">
          Team Directory
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
    </div>
    <div class="option-row">
      <div class="menu-item">
        <div class="menu-item-icon">
          <img class="flat-icon" src="images/company.svg"/>
        </div>
        <div class="menu-item-text">
          Company Details
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon">
          <img class="flat-icon" src="images/documentation.svg"/>
        </div>
        <div class="menu-item-text">
          Documentation
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon">
          <img class="flat-icon" src="images/contact.svg"/>
        </div>
        <div class="menu-item-text">
          Contact
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
    </div>
    <div class="option-row">
      <div class="menu-item">
        <div class="menu-item-icon">
          <img class="flat-icon" src="images/payment.svg"/>
        </div>
        <div class="menu-item-text">
          Payment
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
    </div>
  </div>
</div>
