<!-- <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas> -->
<!-- <div class="sidebar" ng-controller="SidebarCtrl as sidebar">
  <div class="sidebar-company">
    <h3 class="name">Cool Society Inc</h3>
    <h4 class="est">(2017)</h4>
  </div>
  <div class="sidebar-links">
    <ul>
      <li>
        <i class="link-icon fa fa-home fa-lg" aria-hidden="true"></i>
        DASHBOARD
      </li>
      <li>
        <i class="link-icon fa fa-users fa-lg" aria-hidden="true"></i>
        TEAM DIRECTORY
      </li>
      <li>
        <i class="link-icon fa fa-pie-chart fa-lg" aria-hidden="true"></i>
        STATISTICS
      </li>
      <li>
        <i class="link-icon fa fa-building fa-lg" aria-hidden="true"></i>
        COMPANY DETAILS
      </li>
    </ul>
  </div>
  <div class="sidebar-buttons">
    <button class="contact">CONTACT</button>
  </div>
</div> -->

<div class="dashboard">
  <div class="graphs"></div>
  <div class="options">
    <div class="option-row">
      <div class="menu-item">
        <div class="menu-item-icon"></div>
        <div class="menu-item-text">
          Team Directory
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon"></div>
        <div class="menu-item-text">
          Team Directory
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon"></div>
        <div class="menu-item-text">
          Team Directory
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
    </div>
    <div class="option-row">
      <div class="menu-item">
        <div class="menu-item-icon"></div>
        <div class="menu-item-text">
          Team Directory
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon"></div>
        <div class="menu-item-text">
          Team Directory
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-icon"></div>
        <div class="menu-item-text">
          Team Directory
        </div>
        <div class="menu-item-button">
          <button>GO</button>
        </div>
      </div>
    </div>
    <div class="option-row"></div>
  </div>
</div>
